*,
*::after,
*::before {
  border: none;
  margin: none;
  padding: none;
  user-select: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  place-content: center;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  overflow: hidden;
}

button {
  cursor: pointer;
  background: #86a3b8;
  transition: 300ms;
}

button:hover {
  background: #e26ee5;
}

button:active:hover {
  transform: scale(0.9);
}
